/Pizzeria-VS15/.vs
/Pizzeria-VS15/Pizzeria/obj
/Pizzeria-VS15/Pizzeria/bin
/Pizzeria-VS15/Pizzeria/*.user
/Pizzeria-VS15/PizzeriaDll/obj
/Pizzeria-VS15/PizzeriaDll/bin
/Pizzeria-VS15/PizzeriaDll/*.user
